<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head') %>
<body>
    <%- include('../partials/header') %>
    <main>
    <table>
        <tr>
          <th>ID</th>
          <th>Nombre de producto</th>
          <th>Descripción</th>
          <th>Categoría</th>
          <th>Precio</th>
          <th>Status</th>
          <th>Imagen</th>
          <th class="columnPrueba" colspan="2"><a href="/products/agregarProducto">Agregar Item</a></th>
        </tr>
        <% productos.forEach(item => { %>
          <tr>
            <td><%= item.id %></td>
            <td><%= item.name %></td>
            <td><%= item.description %></td>
            <td><%= item.category %></td>
            <td>$<%= item.price %></td>
            <td><%= item.status %></td>
            <td><img src="/images/products/<%= item.image %>" alt="Imagen Producto <%= item.id %>"></td>
            <td><a href="/products/editarProducto/<%= item.id %>">Editar</a></td>
            <form action="/products/editarProducto/<%= item.id %>?_method=DELETE" method="POST">
              <td><button type="submit">Borrar</button></td>
            </form>
          </tr>
        <% }); %>
      </table>  
    </main>
    <%- include('../partials/footer') %>
</body>
</html>