<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head') %>
<body>
    <%- include('../partials/header') %>
<div class="product-conteiner">
    <section id="product">
        <div class="product-photo">
            <div class="product-photo-detail">
            <img src="/images/products/<%= productDetail[0].image %>" alt="">
            </div>
        </div>
            <form action="" class="product-details">
            <div class="product-name"><%= productDetail[0].name %></div>
            <div class="product-desc"><%= productDetail[0].category %></div>
            <div class="star">
                <i class="fas fa-star"></i>
            </div>

            <div class="price-shipping">
                <div class="product-price">$<%= productDetail[0].price %></div>
                <div class="product-payment-shipping">
                    <div>
                        <i class="fas fa-credit-card"></i>
                        <a href="">Medios de Pago</a>
                    </div>
                    <div>
                        <i class="fas fa-truck"></i>
                        <a href="">Opciones de envío</a>
                    </div>
                </div>
            </div>

            <div class="quantity-text">Cantidad</div>
            <div class="product-quantity">    
                <button class="menos">-</button>
                <input type="number" name="" id="">
                <button class="mas">+</button>
            </div>

            <div class="product-send">
            <button type="submit">Comprar</button>
            </div>
            </form>
    </section>
    <div class="product-info-box">
    <div class="product-info">
        <h5>Descripción del producto.</h5>
        <p><%= productDetail[0].category %></p>
        <i class="fas fa-star"></i>
        <h6>$<%= productDetail[0].price %></h6>
        <p>
        <%= productDetail[0].description %> 
    </p>
    </div>
    </div>
</div>

    <%- include('../partials/footer') %>
</body>
</html>