<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head') %>
<body>
    <%- include('../partials/header') %>
<div class="product-conteiner">
    <section id="product">
        <div class="product-photo">
            <div class="product-photo-detail">
            <img src="/images/products/<%= productDetail.image %>" alt="">
            </div>
        </div>
            <form action="" class="product-details">
            <div class="product-name"><%= productDetail.name %></div>
            <div class="star">
                <% for (let i = 0; i < productDetail.rating; i++) { %>
                        <i class="fas fa-star"></i>
                <% } %> 
            </div>
            <div class="price-shipping">
                <div class="product-price">$<%= productDetail.price %></div>
                <div class="product-payment-shipping">
                    <div>
                        <i class="fas fa-credit-card"></i>
                        <a href="">Medios de Pago</a>
                    </div>
                    <div>
                        <i class="fas fa-truck"></i>
                        <a href="">Opciones de envío</a>
                    </div>
                </div>
            </div>

            <div class="quantity-text">Cantidad</div>
            <div class="botones-compras">
                <div class="botones-cantidad">
                    <button type="button" class="minus">-</button>
                    <input type="text" value="0" readonly="readonly">
                    <button type="button" class="plus">+</button>
                </div>
            </div>
            <div class="product-send">
            <button type="submit">Comprar</button>
            </div>
            </form>
    </section>
    <div class="product-info-box">
    <div class="product-info">
        <div class="snippetContainer"><a href="/products/categories/<%=categoryName%> "><label class="snippetCategory"><%= categoryName %></label></a></div>
        <h5 class="nombreProducto"><%=productDetail.name %></h5>
        <div class="estrellitas">
            <% for (let i = 0; i < productDetail.rating; i++) { %>
                <i class="fas fa-star"></i>
            <% } %> 
        </div>
        <h6 class="precioProducto">$<%= productDetail.price %></h6>
        <p class="descripcionProducto">
            <%= productDetail.description %> 
        </p>
    </div>
    </div>
</div>

    <%- include('../partials/footer') %>
    <script src="/js/contadorProductos.js" type="text/javascript"></script>
</body>
</html>