<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head') %>
    <link rel="stylesheet" href="/css/index.css">
</head>
<body>
    <% if (locals.isLogged) { %>
        <%- include('./partials/headerLogged') %> 
    <% } else { %>
    <%- include('./partials/header') %>
    <% } %>
    <%- include('./partials/main') %> 
    <%- include('./partials/footer') %> 
</body>
</html>