<!DOCTYPE html>
<html lang="en">
<body>
    <div>
        <div class="crudName">
            <label class="field" for="name">Nombre</label>
            <input type="text" name="name" value="<%=producto.name%>" id="name" required>
        </div>
        <div class="crudDescription">
            <label class="field" for="description">Descripción</label>
            <input type="text" name="description" value="<%=producto.description%>" id="description" required>
        </div>
        <div class="crudCategory">
            <label class="field" for="category">Categoría</label>
            <input type="text" name="category" value="<%=producto.category_id%>" id="category" required>
        </div>
        <div class="crudPrice">
            <label class="field" for="price">Precio</label>
            <input type="text" name="price" value="<%=producto.price%>" id="price" required>
        </div>
        <div>
            <label class="field" for="rating">Rating</label>
            <input type="text" name="rating" value="<%=producto.rating%>" id="rating" required>
        </div>
        <div>
            <label class="field" for="status">Status</label>
            <input type="text" name="status" value="<%=producto.status%>" id="status" required>
        </div>
        <div>
            <label class="field" for="stock">Stock</label>
            <input type="text" name="stock" value="<%=producto.stock%>" id="stock" required>
        </div>
        <% if (producto.image == null) { %>
            <div class="crudImage">
                <input type="file" name="image" id="image" accept=".jpg,.png" required>
                <label class="imageButton"for="image">Seleccionar Imagen &nbsp;<i class="far fa-images"></i></label>
            </div>    
        <% } else { %>   
            <div class="crudImage">
                <input type="file" name="image" id="image" accept=".jpg,.png" required>
                <label class="imageButton"for="image">Seleccionar Imagen &nbsp;<i class="far fa-images"></i></label>
                <img src="/images/products/<%= producto.image %>" alt="Imagen Producto <%= producto.image %>">
                <label class="tituloImagen" name="imageLabel"><%=producto.image%></label>
            </div>
        <% } %> 
    </div>
</body>
</html>