<!DOCTYPE html>
<html lang="en">
<body>
    <div>
        <div class="crudName"><input type="text" name="name" value="<%=productoAeditar.name%>" id="name"></div>
        <div class="crudDescription"><input type="text" name="description" value="<%=productoAeditar.description%>" id="description"></div>
        <div class="crudCategory"><input type="text" name="category" value="<%=productoAeditar.category%>" id="category"></div>
        <div class="crudPrice"><input type="text" name="price" value="<%=productoAeditar.price%>" id="price"></div>
        <div class="crudImage">
            <input type="file" name="image" id="image" accept=".jpg,.png">
            <label for="imagenProducto">Seleccionar Imagen &nbsp;<i class="far fa-images"></i></label>
            <label><%=productoAeditar.image%></label>
        </div>
    </div>
</body>
</html>