<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head') %>
<body>
    <%- include('../partials/header') %>

<div class="contenedor">
    <div class="center">
        <h1>RECUPERAR <br>
            CONTRASEÑA</h1>
        <form action="/users/recover?_method=PUT" method="POST" class="recoverForm">

        <div class="fields emailInput">
            <input type="email" name="email" placeholder="Ingresa tu email" value="<%= locals.oldData ? oldData.email : null %>" id="email">
            <div class="frontError"><p></p></div>
                <% if (locals.errors && errors.email) { %>
                    <div class="errors-conteiner">
                        <p><%= errors.email.msg %></p>
                    </div>   
               <% } %>
        </div>

        <div class="fields newpassword">
            <input type="password" name="newPassword" placeholder="Ingresa tu nueva contraseña" id="newPassword">
            <div class="frontError"><p></p></div>
                <% if (locals.errors && errors.password) { %>
                    <div class="errors-conteiner">
                        <p><%= errors.password.msg %></p>
                    </div>   
               <% } %>
        </div>

        <div class="iniciarsesion updatePass">
            <button type="submit">Actualizar <br>
                                Contraseña</button>
        </div>


        </form>
    </div>
</div>

<%- include('../partials/footer') %>
<script src="/js/recoverValidate.js" type="text/javascript"></script>
</body>
</html>