<!DOCTYPE html>
<html lang="en">
 <%- include('../partials/head') %>
    <body>
        <%- include('../partials/header') %> 

        <div class="contenedor">
            <div class="center">
                <h1 class="form-title">CREAR CUENTA</h1>
                <form action="/users/registro" method="POST" enctype="multipart/form-data">

                    <div class="fields">
                        <input type="text" name="name" id="name" placeholder="Nombre" value="<%= locals.oldData ? oldData.name : null %>">
                        <div class="frontError"><p></p></div>
                <% if (locals.errors && errors.name) { %>
                    <div class="errors-conteiner">
                        <p><%= errors.name.msg %></p>
                    </div>   
               <% } %>
                    </div>

                    <div class="fields">
                        <input type="text" name="lastname" id="lastName" placeholder="Apellido" value="<%= locals.oldData ? oldData.lastname : null %>">
                        <div class="frontError2"><p></p></div>
                <% if (locals.errors && errors.lastname) { %>
                    <div class="errors-conteiner">
                        <p><%= errors.lastname.msg %></p>
                    </div>   
               <% } %>
                    </div>

                    <div class="fields">
                        <input type="text" name="email" id="email" placeholder="mail@mail.com" value="<%= locals.oldData ? oldData.email : null %>">
                        <div class="frontError3"><p></p></div>
                <% if (locals.errors && errors.email) { %>
                    <div class="errors-conteiner">
                        <p><%= errors.email.msg %></p>
                    </div>   
               <% } %>
                    </div>

                    <div class="fields">
                        <input type="password" name="password" id="password" placeholder="Contraseña">
                        <div class="frontError4"><p></p></div>
                <% if (locals.errors && errors.password) { %>
                    <div class="errors-conteiner">
                        <p><%= errors.password.msg %></p>
                    </div>   
               <% } %>
                    </div>

                    <div class="crudImage">
                        <label class="imageButton" for="image">Seleccionar Avatar &nbsp;<i class="far fa-images"></i></label>
                        <input type="file" name="image" id="image" accept=".jpg,.png">
                        <div class="frontError5"><p></p></div>
                <% if (locals.errors && errors.image) { %>
                    <div class="errors-conteiner">
                        <p><%= errors.image.msg %></p>
                    </div>   
               <% } %>
                    </div>

                    <div class="registrarse"><button type="submit">Registrarse</button></div>
                    <div class="olvidastecontraseña"><p>¿Ya tienes una cuenta?<a href="/users/login"> Iniciar sesión</a></p></div>
                </form>
            </div>
        </div>

        <%- include('../partials/footer') %>
        <script src="/js/registerValidate.js" type="text/javascript"></script>
    </body>
</html>
